.directory                                                                                 
*.aux
presentation.bbl
presentation.blg
presentation.log
presentation.nav
*.out
presentation.snm
presentation.synctex.gz
presentation.toc        
